.errorWrapper {
  padding: 2rem;
  background-color: #f5f5f5;
}

.title {
  font-size: 2rem;
  color: #ff3d3d;
  text-align: center;
}

.description {
  font-size: 1rem;
  color: #dd0f0f;
  text-align: center;
}
