.header {
  background-color: #4a6741;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logoA {
  color: white;
  text-decoration: none;
}

.navUl {
  display: flex;
  list-style: none;
}

.navLi {
  margin-left: 30px;
}

.navLiA {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.navLiA:hover {
  color: #f39c12;
}

.navLiAactive {
  color: #f39c12;
}

.count {
  display: none;
  background-color: var(--secondary-color);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
